<head>
  <meta charset="UTF-8" />

  <!-- page title -->
  <% if (typeof pageTitle !="undefined" ) { %>
  <title><%= `${pageTitle} | Nomatalks` %></title>

  <% }else{%>
  <title>Home | Nomatalks</title>
  <% } %>
  <!-- meta tags -->
  <% if(typeof blog !="undefined"){%>
  <meta name="description" content="<%=blog.snippet %>" />

  <% }else{%>
  <meta
    name="description"
    content="Welcome to nomatalks, We're dedicated to giving you the very best of entertaining contents, with a focus on being informative and inspiring."
  />
  <% }%>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index, follow" />
  <meta property="og:site_name" content="Nomatalks" />
  <!-- for blog posts use -->
  <% if(typeof pageTitle !="undefined"){%>
  <meta property="og:title" content="<%=`${pageTitle} | Nomatalks`%>" />
  <% }else{%>
  <meta property="og:title" content="Home | Nomatalks" />
  <% } %> <% if(typeof blog !="undefined"){%>
    <% const newUrl =blog.blogPostCI[0].url.replace(/.jpg|.png/g,"")+".webp"   %> 

  <meta property="“og:type”" content="“article”" />
  <meta property="og:image" content="<%=newUrl%>" />
  <meta property="twitter:image" content="<%=newUrl %>" />
  <meta property="og:url" content="https://thenomatalks.com/<%= blog.slug %>" />
  <meta property="og:description" content="<%=blog.snippet %>" />

  <% }else{%>
  <meta
    property="og:image"
    content="https://thenomatalks.com/assets/nomatalks-logo.png"
  />
  <meta property="og:url" content="https://thenomatalks.com/" />
  <meta
    property="twitter:image"
    content="https://thenomatalks.com/assets/nomatalks-logo.png"
  />
  <meta property="og:type" content="profile" />
  <meta
    property="og:description"
    content="Welcome to nomatalks, your number one source for inspiring and engaging contents. We're dedicated to giving you the very best of entertaining contents, with a focus on being informative and inspiring."
  />
  <% }%>

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:site" content="@nomatalks" />

  <!-- links -->
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/assets/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/assets/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/assets/favicon-16x16.png"
  />
  <link rel="manifest" href="/assets/site.webmanifest" />
<style>
  .cookie-banner {
	position: fixed;
	bottom: 40px;
	left: 10%;
  right: 10%;
  width: 80%;
  padding: 5px 14px;
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  transition: all 2s ease-in-out;
  opacity: 0;
  z-index: 1000;
}
.fadein{
  display: flex;
  opacity: 1;
}

.close {
  height: 20px;
  background-color: #777;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}
.cookie-banner--link{
  text-decoration: underline;
}

</style>
  <link rel="stylesheet" href="/stylesheets/main.min.css" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    defer
    src="https://www.googletagmanager.com/gtag/js?id=G-9YYM9G6C12"
  ></script>
  <script defer nonce="wCCPXBRBeiNWrmLRTpJiufiiisncADVgshd">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "<%= GA_ID%>");
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->

  </script>
</head>
