<%- include("../partials/errMessage.ejs")%>

<h2>Search for magazine</h2>
<form action="/magazine" method="get">
  <div class="input-group mb-3">
    <input
      type="search"
      class="form-control"
      placeholder="issue 1"
      value="<%=searchOpts.magIssue%>"
      name="magIssue"
      aria-label="Recipient's username"
      aria-describedby="button-addon2"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="submit"
        id="button-addon2"
      >
        Search
      </button>
    </div>
  </div>
</form>

<div class="magazine-content">
  <% magazines.forEach( item =>{ %>
  <div class="magazine-header">
    <h2 class="magazine-issue"><%= item.issue %></h2>
    <div class="magazine-publishedAt"><%= item.createdAt %></div>
    <div class="magazine-author"><%= item.author %></div>
  </div>
  <div class="magazine-imgHolder">
    <a href="/magazine/<%= item.id %>">
      <img src="<%= item.coverImage[0].url %>" alt="" />
    </a>
  </div>
  <% }) %>
</div>
