<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/_head.ejs")%>
  <body>
    <div class="page-content">
      <%-include("../partials/_header.ejs")%>
      <%-include("../partials/_adminbtn.ejs")%>
      <%-include("../partials/errMessage.ejs")%> <%- body %>
    </div>
    <%-include("../partials/_footer.ejs")%>
    <%-include("../partials/_scripts.ejs")%>
  </body>
</html>
