<div class="magazine-content">
  <% magazines.forEach( item =>{ %>
  <div class="magazine-header">
    <h2 class="magazine-issue"><%= item.issue %></h2>
    <div class="magazine-publishedAt"><%= item.createdAt %></div>
    <div class="magazine-author"><%= item.author %></div>
  </div>
  <div class="magazine-imgHolder">
    <a href="/magazine/<%= item.id %>">
      <img src="<%= item.coverImage[0].url %>" alt="" />
    </a>
  </div>
  <div class="magazine-description">
    <div class="magazine-snippet"><%= item.snippet%></div>
    <div class="magazine-download">
      <a href="<%=item.magazineUrl%>" download="<%= item.magazineTitle %>.pdf">
        <%= item.magazineTitle %>
      </a>
    </div>
  </div>
  <% }) %>
</div>
