<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Issue</th>
      <th scope="col">Delete</th>
      <th scope="col">Edit</th>
      <th scope="col">status</th>
    </tr>
  </thead>
  <tbody>
    <% magazines.forEach( (magazine , index )=>{ %>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= magazine.issue %></td>
      <td><a href="/admin/magazine/edit/<%= magazine.id %>">Edit</a></td>
      <td>
        <form
          action="/admin/magazine/<%= magazine.id %>?_method=DELETE"
          method="post"
        >
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
      <td><%= magazine.privateStatus==true?"private" :"public" %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
