<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Issue</th>
      <th scope="col">Date</th>
      <th scope="col">status</th>
      <th scope="col">Ops</th>
    </tr>
  </thead>
  <tbody>
    <% magazines.forEach( (magazine , index )=>{ %>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td>
        <% if (magazine.status=== "public") {%>
        <a href="/magazine/<%= magazine.slug %> "> <%= magazine.issue %> </a>
        <% } else{%>
        <a href="/admin/magazine/<%= magazine.slug %> ">
          <%= magazine.issue %>
        </a>
        <%} %>
      </td>
      <td><%= formatDate(magazine.createdAt, 'YYYY DD MMMM') %></td>
      <td><%= magazine.status %></td>
      <td>
        <a
          href="/admin/magazine/edit/<%= magazine.id %>"
          class="btn btn-secondary btn-float"
        >
          <i class="fas fa-edit fa-small"></i>
        </a>
        <%- include("./partials/_deleteBtn.ejs", {magazine}) %>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
