<div class="mtb-8">
  <section class="category-heading">
    <div class="container con-lg">
      <span class="category-heading__subtitle">category</span>
      <h1 class="category-heading__title"><%= categoryName .name%></h1>
      <hr />
    </div>
  </section>

  <section class="category-post">
    <div class="container con-lg">
      <%if (blogsFound.length > 0) { %>
      <ul class="category-post__list">
        <% blogsFound.forEach(blog => { %> <% const newUrl
        =blog.blogPostCI[0].url.replace(/.jpg|.png/g,"")+".webp" %>
        <li class="category-post__item">
          <a href="/<%= blog.slug %>">
            <div
              class="category-post__bg-img"
              style="background-image: url('<%=newUrl %>')"
              alt="<%=blog.blogPostCI[0].ImageAltText %>"
            >
              <div class="category-post__overlay"></div>
              <div class="category-post__content">
                <h3 class="category-post__title"><%= blog.title %></h3>
                <div class="category-post__meta">
                  <small class="category-post__category"
                    ><%= categoryName .name%></small
                  >
                  <small class="category-post__ert"
                    ><%= blog.estReadTime %>
                  </small>
                </div>
                <p class="category-post__snippet"><%= blog.snippet %></p>
              </div>
            </div>
          </a>
        </li>
        <% }) %>
      </ul>
      <% }else{ %>
      <p>There are no blogs in this category</p>
      <% } %>
    </div>
  </section>

  <!-- category pagination -->
  <%if (blogsFound.length > 0) { %>

  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center my-8">
      <!-- check if user is at the first page -->
      <% if (currentPage == 1 && totalPages > 1) { %>

      <li class="page-item disabled">
        <a class="page-link" aria-disabled="true" href="#"
          >Page <%= parseInt(currentPage) %></a
        >
      </li>
      <li class="page-item">
        <a
          class="page-link ml-2"
          href="/category/page/<%= parseInt(currentPage) + 1 %>?category=<%= category%>"
          >Next</a
        >
      </li>

      <!-- check if user is at between the first and last page -->
      <% } else if (currentPage < totalPages) { %>
      <li class="page-item">
        <a
          class="page-link mr-2"
          href="/category/page/<%= parseInt(currentPage) - 1 %>?category=<%= category%>"
          >Previous</a
        >
      </li>
      <li class="page-item disabled">
        <a class="page-link" aria-disabled="true" href="#"
          >Page <%= parseInt(currentPage) %></a
        >
      </li>
      <li class="page-item">
        <a
          class="page-link ml-2"
          href="/category/page/<%= parseInt(currentPage) + 1 %>?category=<%= category%>"
          >Next</a
        >
      </li>

      <!-- check if user is at the last page -->
      <% } else if (currentPage == totalPages && totalPages > 1) { %>
      <li class="page-item">
        <a
          class="page-link mr-2"
          href="/category/page/<%= parseInt(currentPage) - 1 %>?category=<%= category%>"
          >Previous</a
        >
      </li>
      <li class="page-item disabled">
        <a class="page-link" aria-disabled="true" href="#"
          >Page <%= parseInt(currentPage) %></a
        >
      </li>
      <% } %>
    </ul>
  </nav>
  <% } %>
</div>

<%-include("./partials/_newsletter.ejs")%>
