<h2>Search for Blogs</h2>
<form action="/results" method="get">
  <div class="input-group mb-3">
    <input
      type="search"
      class="form-control"
      placeholder="issue 1"
      value="<%=searchOpts.blogTitle%>"
      name="blogTitle"
      aria-label="Recipient's username"
      aria-describedby="button-addon2"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="submit"
        id="button-addon2"
      >
        Search
      </button>
    </div>
  </div>
</form>

<% blogs.forEach(blog => { %>
<div class="card mb-3" style="max-width: 540px">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="<%=blog.blogPostCI[0].url %>" class="card-img" alt="..." />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= blog.title %></h5>
        <p class="card-text"><%= blog.snippet %></p>
        <p class="card-text">
          <small class="text-muted"
            ><%= formatDate(blog.publistedAt ,"MMM Do YY" ) %></small
          >
        </p>
      </div>
    </div>
  </div>
</div>
<% }) %>

<!-- category pagination  -->
<div class="blog-pagination">
  <div class="pagination">
    <!-- check if user is at the first page -->
    <% if (currentPage == 1 && totalPages > 1) { %>
    <a
      href="/results/page/<%= parseInt(currentPage) + 1 %>?blogTitle=<%= searchOpts.blogTitle%>"
      ><span>
        Page <%= parseInt(currentPage) + 1 %>
        <i class="fa fa-arrow-right"></i>
      </span>
    </a>
    <!-- check if user is at between the first and last page -->
    <% } else if (currentPage < totalPages) { %>
    <a
      href="/results/page/<%= parseInt(currentPage) - 1 %>?blogTitle=<%= searchOpts.blogTitle%>"
      ><span>
        <i class="fa fa-arrow-left"></i>
        Page <%= parseInt(currentPage) - 1 %>
      </span>
    </a>
    <a
      href="/results/page/<%= parseInt(currentPage) + 1 %>?blogTitle=<%= searchOpts.blogTitle%>"
      ><span>
        Page <%= parseInt(currentPage) + 1 %>
        <i class="fa fa-arrow-right"></i>
      </span>
    </a>
    <!-- check if user is at the last page -->
    <% } else if (currentPage == totalPages && totalPages > 1) { %>
    <a
      href="/results/page/<%= parseInt(currentPage) - 1 %>?blogTitle=<%= searchOpts.blogTitle%>"
      ><span>
        <i class="fa fa-arrow-left"></i>
        Page <%=parseInt(currentPage) - 1 %>
      </span>
    </a>
    <% } %>
  </div>
</div>
