<div class="mtb-8">
  <section class="blog-details">
    <div class="container con-lg">
      <header class="blog-details__header">
        <div class="blog-details__heading">
          <h1 class="blog-details__title"><%= blog.title %></h1>
          <div class="blog-details_socials">
            <p>Share this post on social media</p>
            <span>
              <a
                href="https://twitter.com/share?ref_src=twsrc%5Etfw"
                class="twitter-share-button"
                data-hashtags="nomatalks"
                data-lang="en"
                data-via="Nomatalks"
                data-hashtags="nomatalks"
                data-related="Nomatalks"
                data-show-count="true"
                >Tweet</a
              >
            </span>
            <!-- Your share button code -->
            <span class="d-inline-flex">
              <div id="fb-root"></div>
              <div
                class="fb-share-button"
                data-href="https://thenomatalks.com/<%= blog.slug %>"
                data-layout="button_count"
              ></div>
            </span>
            <div class="whatsapp_share d-inline-flex">
              <!-- ; -->
              <a
                target="_blank"
                href="https://api.whatsapp.com/send?text=https://thenomatalks.com/<%= blog.slug %>"
                ><i class="fab fa-whatsapp"></i
              ></a>
            </div>
          </div>
          <div class="blog-details__info">
            <span class="author"
              ><%=blog.guestAuthor || blog.user.name %>
            </span>
            <span class="publistedAt">
              <%= formatDate(blog.publishedAt, 'MMM Do YY') %>
            </span>
            <span class="estReadTime"> <%=blog.estReadTime %> </span>
            <span>
              <a
                class="badge badge-primary"
                href="https://thenomatalks.com/<%= blog.slug %>#disqus_thread"
                >comments</a
              ><i class="fas fa-comment px-1 text-primary"></i>
            </span>
          </div>
        </div>
        <% const newUrl =blog.blogPostCI[0].url.replace(/.jpg|.png/g,"")+".webp"
        %>

        <div class="blog-details__img-holder">
          <img
            src="<%=newUrl%>"
            class="img-fluid"
            loading="lazy"
            alt="<%=blog.blogPostCI[0].ImageAltText %>"
          />
        </div>
      </header>
      <article class="blog-details__article py-3">
        <%- blog.sanitizedHtml %>
      </article>
      <!-- <div id="disqus_thread"></div>
      <script nonce="thsladAKndkjnAMNIcvnknvAdwqgnjgpKSNKJNdvnxswzmb">
        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

        var disqus_config = function () {
          this.page.url = "https://thenomatalks.com/<%# blog.slug %>"; // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = "<%#blog.id %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function () {
          // DON'T EDIT BELOW THIS LINE
          var d = document,
            s = d.createElement("script");
          s.src = "https://https-thenomatalks-com.disqus.com/embed.js";
          s.setAttribute("data-timestamp", +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript
        >Please enable JavaScript to view the
        <a href="https://disqus.com/?ref_noscript"
          >comments powered by Disqus.</a
        ></noscript
      > -->
    </div>
  </section>
  <% if (relatedBlogs.length > 0) { %>
  <section class="related-post">
    <div class="container">
      <div class="mtb-2 related-post__heading">
        <h3 class="h3">Related posts</h3>
        <hr />
      </div>

      <ul class="post-list">
        <% relatedBlogs.forEach(blog => { %> <% const newUrl
        =blog.blogPostCI[0].url.replace(/.jpg|.png/g,"")+".webp" %>

        <li class="post-list__item">
          <a href="/<%= blog.slug %>">
            <div
              class="post-list__img-holder"
              style="background-image: url('<%=newUrl %>')"
            ></div>
            <div class="post-list__description--related">
              <small class="post-list__category"> <%= blog.category %> </small>
              <h3 class="post-list__title"><%= blog.title %></h3>
              <p class="post-list__snippet"><%= blog.snippet %></p>
              <small class="post-list__publishedAt">
                <%= formatDate(blog.publishedAt, 'MMM Do YY') %>
              </small>
              <small class="post-list__ert mx-2">
                <%= blog.estReadTime %>
              </small>
            </div>
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </section>

  <% } %>
</div>

<%-include("./partials/_newsletter.ejs")%>
