<section class="blog-details">
  <div class="container">
    <header class="blog-details__header">
      <div class="blog-details__heading">
        <h1 class="blog-details__title"><%= blog.title %></h1>
        <div class="blog-details__info">
          <span class="author"><%= blog.user.name%> </span>
          <span class="publistedAt"
            ><%= formatDate(blog.publistedAt ,"MMM Do YY" ) %>
          </span>
          <span class="estReadTime"> <%=blog.estReadTime %> </span>
        </div>
      </div>
      <div class="blog-details__img-holder">
        <img
          src="<%=blog.blogPostCI[0].url %>"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
    </header>
    <article class="blog-details__article"><%- blog.sanitizedHtml %></article>
  </div>
</section>
