<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">status</th>
        <th scope="col">category</th>
        <th scope="col">Ops</th>
      </tr>
    </thead>
    <tbody>
      <% blogs.forEach( (blog , index )=>{ %>
      <tr>
        <th scope="row"><%= ((currentPage-1)*3)+(index+1) %></th>
        <td>
          <% if (blog.status=== "public") {%>
          <a href="/<%= blog.slug %> "> <%= blog.title %> </a>
          <% } else{%>
          <a href="/admin/blog/<%= blog.slug %> "> <%= blog.title %> </a>
          <%} %>
        </td>
        <td><%= formatDate(blog.createdAt, 'MMMM Do YYYY, h:mm:ss a') %></td>
        <td><%= blog.status %></td>
        <td><%= blog.category || "Tech" %></td>
        <td>
          <a
            href="/admin/blog/edit/<%= blog.id %>"
            class="btn btn-secondary btn-float"
          >
            <i class="fas fa-edit fa-small"></i>
          </a>
          <%- include("./partials/_deleteBtn.ejs", {blog}) %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<div class="blog-pagination">
  <div class="pagination">
    <!-- check if user is at the first page -->
    <% if (currentPage == 1 && totalPages > 1) { %>
    <a href="/admin/blog/page/<%= parseInt(currentPage) + 1 %>/"
      ><span>
        Page <%= parseInt(currentPage) + 1 %>
        <i class="fa fa-arrow-right"></i>
      </span>
    </a>
    <!-- check if user is at between the first and last page -->
    <% } else if (currentPage < totalPages) { %>
    <a href="/admin/blog/page/<%= parseInt(currentPage) - 1 %>/"
      ><span>
        <i class="fa fa-arrow-left"></i>
        Page <%= parseInt(currentPage) - 1 %>
      </span>
    </a>
    <a href="/admin/blog/page/<%= parseInt(currentPage) + 1 %>/"
      ><span>
        Page <%= parseInt(currentPage) + 1 %>
        <i class="fa fa-arrow-right"></i>
      </span>
    </a>
    <!-- check if user is at the last page -->
    <% } else if (currentPage == totalPages && totalPages > 1) { %>
    <a href="/admin/blog/page/<%= parseInt(currentPage) - 1 %>/"
      ><span>
        <i class="fa fa-arrow-left"></i>
        Page <%=parseInt(currentPage) - 1 %>
      </span>
    </a>
    <% } %>
  </div>
</div>
